@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);

/* not sure what this is doing but it stops the canvas from resizing with the window! */
html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

body {
	font-family: 'Cabin Sketch', cursive;
	background-color: #ece2e3;	/* light pinkish */
}

#container {
	border: 4px solid #3D3D3D;	/* lighter black color */
	background-color: #CA0A13;	/* red */
	padding: 10px;
	margin: 10px;
	position: absolute;
	top: 10px;
	left: 20px;
	width: 880px;
	height: 600px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	color: #E1BF5C;	/* light yellow */
	/* light pinkish - set it to be the same color as the body so we don't see it. Some text is needed to get the custom font to load in paper.js. */
	font-size: 4.5em;
	margin: 0 0 0 18%;
	padding: 0;
/*	float: left; */
}

#canvasTop {
	padding: 0;
	background-color: #CA0A13;	/* red */
	position: absolute;
	margin: 12px 0 0 -2px;
    width: 98%;
    height: 82%;
	border: 2px solid #CA0A13;	/* red */
}

/*
#canvasBottom {
	padding: 0;
	background-color: #CA0A13;	/* red 
	margin: 420px 0 0 -2px;
	border: 2px solid black;
    width: 100%;
    height: 18%;
}
*/

#soundHolder {
	display: none;
	padding: 5px;
	margin: 680px 0 0 0;
}


